.homepage-img{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: blur(3px);
}
.home-form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a{
  color: rgb(247, 247, 247);
}a:hover{
  color: rgb(204, 204, 204);
}
.author{
  position: absolute;
  margin-top: 200px;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(2px + 2vw);
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}